<div class="row">
    {{#each this}}
  <div class="col-md-3">

    <div class="thumbnail">
{{!--       <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button> --}}
      <img src="{{Poster}}" alt="">
      <div class="caption">

          <h4>{{Title}}</h4>


          <h4>{{Year}}</h4>

          <p>{{Actors}}</p>

        <input type="number" class="StarRate" data-stars=5>
        <div class="btn-group">
          <button type="button" class="watched" class="btn btn-primary" data-imdbid="{{imdbID}}" data-watchstatus="watched">WATCHED</button>
          <button type="button" class="towatch" class="btn btn-danger" data-imdbid="{{imdbID}}" data-watchstatus="towatch">ADD</button>
        </div>
      </div>
    </div>

  </div>
  {{/each}}

</div>
